.countdown-container {
    text-align: center;
  }
  
.timer {
font-size: 5rem; /* Adjust font size as needed */
}

.timer-text {
font-size: 5rem; /* Adjust font size to match .timer */
}

.title {
    font-size: 5;
}
.title-text {
    font-size: 5rem;
}